* {
    margin: 0;
    padding: 0;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('assets/img/plano_de_fundo.jpg');
    background-size: cover;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.title {
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    border: px solid white;
    border-radius: 5px;
}

.form-container label {
    margin-bottom: 10px;
}

.form-container input {
    margin-bottom: 15px;
    padding: 8px;
    border: 3px solid white;
    background-color: transparent;
    border-radius: 12px;
    width: 100%;
}

.result {
    margin-top: 10px;
    background-color: transparent;
}
