<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="shortcut icon" href="/static/img/logo lamp.png" type="image/x-icon">
    <title>GeniusMind - AI</title>
</head>
<body>
    <section>
        <div class="circle"></div>
        <header>
            <a href="#"><img src="../static/img/logo lamp.png" alt="" class="logo"></a>
            <nav class="navegation">
                <ul>
                    <li><a href="/ajuda">Ajuda</a></li>
                </ul>
            </nav>
        </header>
        <div class="content">
            <div class="text">
                <h2>GeniusMind - AI<br><span>Studant Performance</span></h2>
                <p>Bem-vindo ao GeniusMind -AI - Potencializando o Desempenho Estudantil com Inteligência Artificial!

                    Acreditamos no poder da tecnologia para transformar a educação e abrir portas para um futuro brilhante. <br> Nosso objetivo é proporcionar uma experiência educacional mais eficaz e personalizada, onde cada aluno pode alcançar seu máximo potencial.<br>
                    
                    O que fazemos:
                    
                    No GeniusMind -AI, utilizamos a vanguarda da Inteligência Artificial para analisar e avaliar o desempenho dos alunos. Nossa plataforma inovadora oferece insights valiosos sobre o progresso acadêmico, identificando pontos fortes e áreas de oportunidade de maneira precisa e personalizada.</p>

                    <button class="button-red"><a href="/inserirdados">Inserir Dados</a></button>
                </div>
        </div>
        
        <div class="boxImg">
            <img src="../static/img/estudantes-dos-desenhos-animados-adolescente-casal-com-mochilas-e-livros-700-76285323-removebg-preview.png" alt="" class="img3">
           
        </div>
    </section>
    <footer>
         <div class="container-footer">
            <div class="footer-info">
                <h3>RJGM - Tecnologia</h3>
                <p>Telefone: (81) 1234-5678</p>
                <p>Email: contato@rjgmtecnologia.com</p>
            </div>
            <div class="footer-social">
                <h3>Siga-nos nas redes sociais:</h3>
                <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div> 
        <div class="footer-bottom">
            <p>&copy; 2022 RJGM - Tecnologia. Todos os direitos reservados.</p>
        </div>
    </footer> 
</body>
</html>
